*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.paddingOne {
    padding: 1rem;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: linear-gradient(90deg, rgba(180,118,58,1) 0%, rgba(110,194,32,1) 32%);
}

.primary-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

}

.primary-navigation ul li {
    margin-left: 2rem;
}

.primary-main {
    padding: 2rem;
}


#map{
    height: 250px;
}

.brewery_wrapper {
   
   display: flex;
   justify-content: space-around;
   align-items: center;
  
}

input, button {
    padding: .25rem;
}

.input_wrapper {
    margin-bottom: .75rem;
    
}

h2, h3 {
    margin-bottom: .5rem;
}

.lat_long {
    margin-bottom: .75rem;
}

.brew_name {
    
    width: 50vw;
}


.brew_url {
    padding: 1rem;
    width: 50vw;
    outline: 1px solid orange;
}